<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Html5 Video Player{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@SignIPSPlayerBundle/Resources/public/css/video-js.min.css'
            '@SignIPSPlayerBundle/Resources/public/css/style.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background: #000000">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            '@SignIPSPlayerBundle/Resources/public/js/video.js'
            '@SignIPSPlayerBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@SignIPSPlayerBundle/Resources/public/js/videojs-playlists.js'
            '@SignIPSPlayerBundle/Resources/public/js/main.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
