{% extends '::base.html.twig' %}

{% block body %}
    <video style="display: none" class="midway-horizontal midway-vertical" id="media_content" data-setup='{"controls": true, "autoplay": true}' controls preload="auto">
        <source src="/video/small.mp4" type="video/mp4">
    </video>


    <script>
        window.onload =function() {
            jQuery.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                        $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                        $(window).scrollLeft()) + "px");
                return this;
            };
            $( "video").center();

            var myPlayer = videojs('media_content');
            var videos = [
                {
                    src : [
                        '/video/small.mp4'
                    ],
                    title : 'Whales'
                },
                {
                    src : [
                        '/video/oceans.mp4'
                    ],
                    title : 'Ocean'
                }
            ];
            myPlayer.playList(videos);
            myPlayer.play();
            myPlayer.on('ended', function() {
                console.log('ended');
                $( "video" ).fadeOut(1500);
            });
            myPlayer.on('pause', function() {
                console.log('ended');
                $( "video" ).fadeOut(1500);
            });
            myPlayer.on('play', function() {
                console.log('play');
                $( "video" ).fadeIn(1500);
                setTimeout(function() {
                    $( "video").center();
                }, 300);
            });
            myPlayer.on('lastVideoEnded', function() {
                setTimeout(function() {
                    myPlayer.playList(0).play();
                }, 1500);
            });

            $('.vjs-control-bar').hide();
        };
    </script>
{% endblock %}